# ------------------------------------------------------------------
# APP
# ------------------------------------------------------------------
PORT=3000
APP_HOST="http://localhost"
APP_ENV="development"
APP_TIMEZONE="Asia/Jakarta"
APP_DEBUG="trace"

# ------------------------------------------------------------------
# JWT
# ------------------------------------------------------------------
JWT_SECRET_KEY="aieltsbe-myv3ryr@nd0ms3cretk3y"
JWT_EXPIRY_TIME=3600
